.header {
	background: #efefef;
	padding: 1rem;
  margin-bottom: 3rem;
}

.nav ul {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav ul li {
	margin: 0 .5rem;
}
