/* Base */

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ol, ul {
	margin: 0;
	padding: 0;
}

.code-block {
	text-align: left;
  display: block;
  background-color: ghostwhite;
  border: 1px solid silver;
	border-radius: 4px;
  padding: 15px 20px;
	overflow-x: auto;
	/* word-wrap: break-word; */
}

.code-block .json-key {
  color: brown;
}
.code-block .json-value {
  color: navy;
}
.code-block .json-string {
  color: olive;
}


/* Links */

a, a:visited {
  color: inherit;
  text-decoration: none;
	transition: color 200ms ease-in-out;
}

a:hover:not(.MuiButton-root:hover), a:active:not(.MuiButton-root:active) {
	color: #4CE79D;
	transition: color 200ms ease-in-out;
}

button a:hover, button a:active {
	color: initial;
}

/* App */

#app-main {
  min-height: calc(100vh - 185px);
  padding: 5rem 0 0;
}

#app-main.homepage {
	padding: 0;
}

.homepage-banner {
	background: url('/banner_bg.png') center center no-repeat;
	background-size: cover;
}

.dropzone-loading {
  pointer-events: none;
  cursor: not-allowed;
}

.avatar-wrap {
	display: flex;
	justify-content: flex-start;
}

@media (min-width: 900px) {
	.avatar-wrap {
		justify-content: flex-end;
	}
}

.nft-card-media img,
.nft-card-media span {
	width: 100% !important;
	height: auto !important;
}

#upload-stem-type-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
