* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
	transition: color 200ms ease-in-out;
}

a:hover, a:active {
	color: #0500ff;
	transition: color 200ms ease-in-out;
}

ol, ul {
  margin: 0;
  padding: 0;
}

#app-main {
  min-height: calc(100vh - 185px);
  padding-bottom: 5rem;
}

.dropzone-loading {
  pointer-events: none;
  cursor: not-allowed;
}

.avatar-wrap {
	display: flex;
	justify-content: flex-start;
}

@media (min-width: 900px) {
	.avatar-wrap {
		justify-content: flex-end;
	}
}
